:root{
    /* --primary-color: #F2B418; /* Sunshine */
    /* --secondary-color: #ECF8FD; Powder blue */
    /* --darker-secondary-color: #AFCBD5; /* Fresh blue */
    /* --darkest-secondary-color: #304B53; Darker shade of Fresh blue */
    /* --text-primary: #272838; Blackjack */
    /* --darker-primary-color: #644800; Darker shade of Sunshine */
    /* --accent-color: #815355; Root beer */
    /* --lightest-secondary-color: #FBF8FF; Surface / Powder Blue */
    --sidebar-background-color: #494e5f;
    --sidebar-text: #fefefa; /* Light yellow */
    --sidebar-heading-color: #ffe7d4; /* Light orange */
    --text-primary: #494e5f;
    --background-color: white;
    --heading-background: #ffe7d4;  /* Light orange */
}
body {
    background-color: pink;
    color: var(--text-primary);
    margin: 0 auto;
    max-width: 800px;
    font-family: 'Montserrat', sans-serif;
}

.content {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: var(--background-color);
}

h1, h2, h3{
    background-color: var(--heading-background);
    padding: 0.5rem 1rem;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
} 

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

aside {
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-text);
    padding: 2rem;
}


.sidebar div {
    margin: 2rem 0 ;
}

.sidebar .references p {
    text-align: center;
    padding: 0;
    opacity: 0.8;
}

.sidebar .job-title * {
    color: var(--sidebar-text);
    font-weight: 600;
}

.sidebar hr {
    height: 2px;
    border: none;
    color: var(--sidebar-heading-color);
    background-color: var(--sidebar-heading-color);
}

.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4 {
    color: var(--sidebar-heading-color);
    background-color: var(--sidebar-background-color);
    margin: 0;
    padding: 0; 
    font-weight: bold;
}

.sidebar .image {
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.sidebar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.competence .skills {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr;
}

.main {
    padding: 3rem;
    background-color: var(--background-color);
}

.main section {
    margin-bottom: 2rem;
}

.job .job-title {
    margin-bottom: 1rem;
    font-size: larger;
}